.BookingTabel{
  
  width: 100%;
  font-size: medium;
  background-color: rgb(252, 250, 250);
  th{
    box-shadow: 2px 2px 2px rgba(29, 28, 28, 0.267);
  }
  td{
    box-shadow: 2px 2px 2px rgba(29, 28, 28, 0.267);
    text-align: center;
  }
  
}

.InfoButton{
  border: none;
  background-color: $navy;
  color: $orange;
  font-size: 1rem;
  padding: 0.5em;
}