@import "Extra", "Variables", "Marcusl";

* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: $montserrat;
}

header.fixed {
  .bottom {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
  }
}

header {
  // position: absolute;
  // top: 0;
  // left: 0;
  width: 100%;

  z-index: 2552525;
  .top {
    height: 78px;
    .logo {
      width: 100%;
      display: flex;
      img {
        width: 90px;
      }

      .title {
        margin: auto;

        color: $navy;
        font-size: 64px;
        font-weight: bold;
        text-shadow: 3px 3px 3px rgba(109, 108, 108, 0.308);
      }
    }
  }
  .bottom {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0 8px 6px -6px rgb(0 0 0 / 23%);
    -moz-box-shadow: 0 8px 6px -6px rgb(0 0 0 / 23%);
    box-shadow: 0 8px 6px -6px rgb(0 0 0 / 23%);

    z-index: 2552525;
    // transition: all 0.3s;
    ul {
      padding: 0;
      margin: 0;
      display: flex;
      list-style: none;
      li {
        padding: 1rem;
        .active {
          color: $orange;
        }
        a {
          text-decoration: none;
          color: $navy;
          font-weight: 600;
          font-size: 20px;
          margin-right: 2em;
        }
        a:hover {
          color: $orange;

          transition: linear 0.5s;
        }
      }
      li:first-child {
        padding: 1rem 1rem 1rem 0;
      }
      li:last-child {
        padding: 1rem 0 1rem 1rem;
      }
    }
  }
  .bottom-fixed {
    position: fixed;
    top: 0;
    transition: 0.5s;
    left: 0;
    width: 100%;
  }
}

.AppSection {
  padding-top: 56px;
}

section {
  padding: 3rem 0;

  .card {
    display: block;
    box-shadow: 0px 0px 15px rgba(29, 28, 28, 0.267);

    img {
      box-shadow: 0px 0px 15px rgba(29, 28, 28, 0.267);
    }
    span {
      float: right;
    }
  }

}

.card {
  display: block;
  box-shadow: 0px 0px 15px rgba(29, 28, 28, 0.267);
  .card-body {
    padding: 1rem;
  }
  .card-header {
    background-color: $navy;
    padding: 0.5em;
    color: $white;
    margin: 0;
  }
}

.card:hover {
  .card-header {
    transition: linear 0.5s;
    color: $orange;
  }
}

.home-page {
  // .secTwo {
  //   margin-top: 2em;
  //   padding: 1em;
  //   box-shadow: 0px 0px 15px rgba(29, 28, 28, 0.267);

  //   .vid {
  //     box-shadow: 5px 5px 5px rgba(29, 28, 28, 0.267);
  //     border-radius: 0.2em;
  //   }

  //   h3 {
  //     font-size: 2vw;
  //     margin: 0;
  //   }
  //   p {
  //     font-weight: 500;
  //   }
  // }
}

footer {
  color: orange;

  a {
    color: orange;
    text-decoration: none;
  }

  background-color: $navy;
  .top {
    padding: 1rem 0;
  }
  .bottom {
    .container {
      border-top: 1px solid rgb(173, 173, 173);
    }
  }
}

.slider {
  z-index: 0;
}

.rsis-container div {
  background-size: cover !important;
  background-position: center !important;
}

.rsis-image,
.slider div:first-child,
.slider:nth-child(2) {
  width: 100% !important;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.form-control {
  width: 100%;
  padding: 0.4rem;
}

.form-control::placeholder {
  font-family: sans-serif;
}

.input-field {
  padding: 0.5rem;
}

textarea {
  resize: vertical;
}

.button {
  padding: 0.5rem 0.8rem;
  color: #fff;
  background-color: #000;
  border-radius: 3px;
  font-size: 1rem;
  border: none;
  outline: 0;
  cursor: pointer;
}

.button-success {
  background-color: green;
}

.info-page {
  .info_menu {
    box-shadow: 0px 0px 15px rgba(29, 28, 28, 0.267);
    display: grid;
    position: relative;
    margin: 1em;
  }

  .infoCard {
    background-color: $white;
    box-shadow: 0px 0px 15px rgba(29, 28, 28, 0.267);

    margin: 1em 0;
    padding: 1em;

    h3 {
      margin: 0;
    }
  }
  .sticky {
    top: 90px;
    position: sticky;
  }
  .redirect_links {
    font-size: 20px;
    margin: 0.3em;
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding: 0.5em;
  }
  .redirect_links:hover {
    background-color: $aliceblue;
  }
}

@media screen and (max-width: 992px) {
  .AppSection {
    padding-top: 151px;
  }
  .top {
    .logo {
      justify-content: center;

      // img {
      //   height: 1rem;
      //   width: 1rem;
      //   font-size: 1rem;
      //   z-index: 400;
      //   color: black;
      // }

      .title {
        display: none;
      }
    }
  }
  .bottom {
    ul {
      justify-content: center;
      li {
        a {
          margin: 0 !important;
          font-size: 16px !important;
        }
      }
    }
  }
}

.contact_img {
  width: 350px;
  height: 300px;
  box-shadow: 0px 0px 15px rgba(29, 28, 28, 0.267);
}

.contactCard {
  box-shadow: 0px 0px 15px rgba(29, 28, 28, 0.267);
  padding: 30px;

  p {
  }
}

.contactImage {
  text-align: center;
}

.left-menu {
  width: 100%;
  justify-content: start;
}

.right-menu {
  width: 100%;
  justify-content: end;
}

.menu-flex {
  display: flex;
  width: 100%;
}

.dropdown {
  position: relative;
  .dropdown-link {
    cursor: pointer;
  }
}

.dropdown .dropdown-menu {
  position: absolute;
  // top: 5px;
  right: 0;
  min-width: 10rem;
  display: none;
  margin-top: 2rem;
  background-color: #fff;
  padding: 1rem;
  li {
    padding: 0.5rem !important;
    .dropdown-item {
      display: flex;
      align-items: center;
      margin: 0;
    }
  }
}

.dropdown.active .dropdown-menu {
  display: block;
}
