@import "Extra", "Variables", "Marcusl", "Dennisstyle", "../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome", "../../../node_modules/@fortawesome/fontawesome-free/scss/brands", "../../../node_modules/@fortawesome/fontawesome-free/scss/regular", "../../../node_modules/@fortawesome/fontawesome-free/scss/solid";

* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: $montserrat;
  
}

header.fixed {
  .bottom {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
  }
}

header {
  // position: absolute;
  // top: 0;
  // left: 0;
  width: 100%;

  z-index: 2552525;
  .top {
    height: 78px;
    .logo {
      width: 100%;
      display: flex;
      img {
        width: 90px;
      }

      .title {
        margin: auto;

        color: $navy;
        font-size: 64px;
        font-weight: bold;
        text-shadow: 3px 3px 3px rgba(109, 108, 108, 0.308);
      }
    }
  }
  .bottom {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0 8px 6px -6px rgb(0 0 0 / 23%);
    -moz-box-shadow: 0 8px 6px -6px rgb(0 0 0 / 23%);
    box-shadow: 0 8px 6px -6px rgb(0 0 0 / 23%);

    z-index: 2552525;
    // transition: all 0.3s;
    ul {
      padding: 0;
      margin: 0;
      display: flex;
      list-style: none;
      li {
        padding: 1rem;
        .active {
          color: $orange;
        }
        a {
          text-decoration: none;
          color: $navy;
          font-weight: 600;
          font-size: 20px;
          margin-right: 2em;
        }
        a:hover {
          color: $orange;

          transition: linear 0.5s;
        }
      }
      li:first-child {
        padding: 1rem 1rem 1rem 0;
      }
      li:last-child {
        padding: 1rem 0 1rem 1rem;
      }
    }
  }
  .bottom-fixed {
    position: fixed;
    top: 0;
    transition: 0.5s;
    left: 0;
    width: 100%;
  }
}

.AppSection {
  padding-top: 56px;
}

section {
  padding: 3rem 0;

  .card {
    display: block;
    box-shadow: 0px 0px 15px rgba(29, 28, 28, 0.267);

    img {
      box-shadow: 0px 0px 15px rgba(29, 28, 28, 0.267);
    }
    span {
      float: right;
    }
  }

}

.card {
  display: block;
  box-shadow: 0px 0px 15px rgba(29, 28, 28, 0.267);
  .card-body {
    padding: 1rem;
  }
  .card-header {
    background-color: $navy;
    padding: 0.5em;
    color: $white;
    margin: 0;
  }
}

.card:hover {
  .card-header {
    transition: linear 0.5s;
    color: $orange;
  }
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.d-flex {
  display: flex;
}

.px-2 {
  padding-left: .5rem;
  padding-right: .5rem;
}

.panel-header {
  background-color: rgb(238, 238, 238);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.307);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem 0;
  z-index: 50000;
  .panel-brand img {
    width: 70px;
  }
}

.form-select {
  
  border: 1px solid rgb(0 0 0 / 23%);
  color: #000;
  border-radius: 5px;
  padding: .5rem;
  width: 100%;
}

.form-select:focus {
 outline: none;
 border: 1px solid #FF6911;
 box-shadow: 0 0 2px #FF6911;
}

.form-select::placeholder {
 font-family: Arial, Helvetica, sans-serif;
 font-size: .9rem;
 font-weight: 500;
}

.sidebar-closed {
  .sidebar {
    width: 80px;
    transition: all .3s;
    .close-sidebar {
      padding: 1rem;
      font-size: 1.5rem;
      text-align: center;
    }
    .sidebar-title {
      display: none;
    }
    .sidebar-dropdown-item {
      margin: 0 !important;
      .sidebar-dropdown-link {
        text-align: center !important;
        font-size: 1.5rem;
      }
    }
    .sidebar-link {
      text-align: center !important;
    }
    .sidebar-icon {
      font-size: 1.5rem;
      text-align: center;
    }
  }
}

.sidebar {
  width: 280px;
  transition: all .3s;
  position: fixed;
  top: 80px;
  left: 0;
  bottom: 0;
  background-color: rgb(238, 238, 238);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.307);
  z-index: 40000;
  .close-sidebar {
    padding: 1rem;
    font-size: 1.5rem;
    text-align: left;
    svg {
      cursor: pointer;
    }
  }
  .navbar-sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1rem 0;
    .navbar-sidebar-menu {
      margin: 0;
      padding: 0;
      list-style: none;
      .sidebar-item, .sidebar-dropdown {
        margin: .5rem 0;
        .sidebar-link, .sidebar-button {
          display: block;
          color: $navy;
          font-size: 1.1rem;
          font-weight: 500;
          padding: .5rem;
          background-color: none;
          border: 0;
          cursor: pointer;
          width: 100%;
          text-align: left;
          outline: none;
          transition: all .3s;
        }
        .sidebar-link:hover, 
        .sidebar-link:focus, 
        .sidebar-link.active,
        .sidebar-button:hover, 
        .sidebar-button:focus, 
        .sidebar-button.active{
          background-color: #ff68118c;
          transition: all .3s;
          border-radius: 7px;
        }
        .sidebar-dropdown-menu {
          list-style: none;
          margin: 0;
          padding: 0;
          .sidebar-dropdown-item {
            margin: .3rem 0 .3rem 1rem;
            .sidebar-dropdown-link {
              display: block;
              color: $navy;
              font-size: 1.1rem;
              font-weight: 500;
              padding: .4rem .5rem;
              background-color: none;
              border: 0;
              cursor: pointer;
              width: 100%;
              text-align: left;
              outline: none;
              transition: all .3s;
            }
            .sidebar-dropdown-link:hover, 
            .sidebar-dropdown-link:focus, 
            .sidebar-dropdown-link.active{
              background-color: #ff68118c;
              transition: all .3s;
              border-radius: 7px;
            }
          }
        }
      }
    }
  }
}

.mt-auto {
  margin-top: auto !important;
}

.adminPanel {
  position: relative;
  margin: 90px 1rem 1rem 290px;
}




.home-page {
  // .secTwo {
  //   margin-top: 2em;
  //   padding: 1em;
  //   box-shadow: 0px 0px 15px rgba(29, 28, 28, 0.267);

  //   .vid {
  //     box-shadow: 5px 5px 5px rgba(29, 28, 28, 0.267);
  //     border-radius: 0.2em;
  //   }

  //   h3 {
  //     font-size: 2vw;
  //     margin: 0;
  //   }
  //   p {
  //     font-weight: 500;
  //   }
  // }
}

.admin-panel {
  header {
    display: none;
  }


  
  .top {
    padding: 1rem 0;
  }
  .bottom {
    .container {
      border-top: 1px solid rgb(173, 173, 173);
    }
  }
}

.slider {
  z-index: 0;
}

.rsis-container div {
  background-size: cover !important;
  background-position: center !important;
}

.rsis-image,
.slider div:first-child,
.slider:nth-child(2) {
  width: 100% !important;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.form-control {
  width: 100%;
  padding: 0.4rem;
}

.form-control::placeholder {
  font-family: sans-serif;
}

.input-field {
  padding: 0.5rem;
}

textarea {
  resize: vertical;
}

.spinner-custom {
  width: 1rem; height: 1rem; border-width: 2px;
}

.fw-bold {
  font-weight: 700;
}

.card-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.h-100 {
  height: 100%;
}

.align-items-center {
  align-self: center;
}

.align-items-start {
  align-self: start;
}

.align-items-end {
  align-self: end;
}

.align-items-self-end {
  align-self: self-end;
}

.btn {
  display: block;
  padding: 0.7rem;
  font-size: 1.2rem;
  border-radius: 6px;
  text-decoration: none;
}

.w-100 {
  width: 100%;
}

.d-block {
  display: block;
}

.my-1 {
  margin: .25rem 0;
}

.my-3 {
  margin: 1rem 0;
}

.btn-primary {
  color: #000;
  background: #0d6efd;
}

.button {
  padding: 0.5rem 0.8rem;
  color: #fff;
  background-color: #000;
  border-radius: 3px;
  font-size: 1rem;
  border: none;
  outline: 0;
  cursor: pointer;
}

.text-success {
  color: green;
}

.fs-5 {
  font-size: 1.2rem;
}

.position-relative {
  position: relative;
}

.justify-content-center {
  justify-content: center;
}

.form-control {
   
   border: 1px solid rgb(0 0 0 / 23%);
   color: #000;
   border-radius: 5px;
   padding: .5rem;
}

.form-control:focus {
  outline: none;
  border: 1px solid #FF6911;
  box-shadow: 0 0 2px #FF6911;
}

.form-control::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-size: .9rem;
  font-weight: 500;
}

@media screen and (min-width: 992px) {
  .position-custom {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
  }
  .text-lg-end {
    text-align: right;
  }
}

.button-success {
  background-color: green;
}

.info-page {
  .info_menu {
    box-shadow: 0px 0px 15px rgba(29, 28, 28, 0.267);
    display: grid;
    position: relative;
    margin: 1em;
  }

  .infoCard {
    background-color: $white;
    box-shadow: 0px 0px 15px rgba(29, 28, 28, 0.267);

    margin: 1em 0;
    padding: 1em;

    h3 {
      margin: 0;
    }
  }
  .sticky {
    top: 90px;
    position: sticky;
  }
  .redirect_links {
    font-size: 20px;
    margin: 0.3em;
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding: 0.5em;
  }
  .redirect_links:hover {
    background-color: $aliceblue;
  }
}

@media screen and (max-width: 992px) {
  .AppSection {
    padding-top: 151px;
  }
  .top {
    .logo {
      justify-content: center;

      // img {
      //   height: 1rem;
      //   width: 1rem;
      //   font-size: 1rem;
      //   z-index: 400;
      //   color: black;
      // }

      .title {
        display: none;
      }
    }
  }
  .bottom {
    ul {
      justify-content: center;
      li {
        a {
          margin: 0 !important;
          font-size: 16px !important;
        }
      }
    }
  }
}

.contact_img {
  width: 350px;
  height: 300px;
  box-shadow: 0px 0px 15px rgba(29, 28, 28, 0.267);
}

.contactCard {
  box-shadow: 0px 0px 15px rgba(29, 28, 28, 0.267);
  padding: 30px;

  p {
  }
}

.contactImage {
  text-align: center;
}

.left-menu {
  width: 100%;
  justify-content: start;
}

.right-menu {
  width: 100%;
  justify-content: end;
}

.menu-flex {
  display: flex;
  width: 100%;
}

.dropdown {
  position: relative;
  .dropdown-link {
    cursor: pointer;
  }
}

.dropdown .dropdown-menu {
  position: absolute;
  // top: 5px;
  right: 0;
  min-width: 10rem;
  display: none;
  margin-top: 2rem;
  background-color: #fff;
  padding: 1rem;
  li {
    padding: 0.5rem !important;
    .dropdown-item {
      display: flex;
      align-items: center;
      margin: 0;
    }
  }
}

.dropdown.active .dropdown-menu {
  display: block;
}
